# ./
node_modules
.git
docker-compose.yml
README.md
.env

# ./Backend
Backend/node_modules
Backend/.env
Backend/Dockerfile

# ./Frontend
Frontend/node_modules
Frontend/.env
Frontend/dist
Frontend/build
Frontend/Dockerfile