/* CARDS */

/* Home */
#home-card {
  display: flex;
  cursor: pointer;
  margin: 40px 0px;
  color: rgb(0, 0, 0);
}

#home-card .card-content {
  padding: 20px 30px;
}

/* Hotel */
#hotel-selected-card {
  width: 52%;
  margin-top: 20px;
}

#comment-card {
  height: 235px;
}

/* Reservations */

.reservation-reservation_id {
  position: absolute;
  right: 25px;
  top: 35px;
}

.who-reserved-reservation_id {
  position: absolute;
  right: 20px;
  top: 40px;
}

#reservations-card {
  width: 60%;
  margin: 15px;
}

#reservations-title {
  display: inline-block;
}

/* Partners */
#partners-card {
  width: 60%;
  margin: 20px 20px;
}

/* Comments */
#comments-card {
  width: 550px;
  margin: 25px;
}

#comments-card .card-content {
  padding: 24px;
  margin-bottom: 30px;
}

/* Who-Reserve */
#who-reserved-card {
  padding: 20px;
  margin: 10px;
  width: 400px;
  background-color: rgb(255, 255, 255);
}

#select-who-reserved-card {
  margin-left: 50px;
}
