@import "variables.css";

.layout-with-footer {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  width: 100vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  width: 100vw;
  min-width: 1360px;
}

.toast-icon {
  transform: translateY(-2px) translateX(3px);
}

/* ERRORS */

.container-errors {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 2px;
}

.error {
  padding: 5px;
}

.container-span {
  color: red;
}

.container-error-create-update-hotel {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 2px;
  width: 30%;
  margin: auto;
}

/* H3, P, INPUT, LABEL, PRE */

.title {
  font-size: 2.2rem;
  color: #4b4b4b;
  margin: 30px 20px 20px 20px;
  font-weight: bold;
}

.center-title {
  font-size: 2.2rem;
  color: #4b4b4b;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-down-title {
  margin: 0px 20px 10px 20px;
}

.input-field {
  border: none;
  padding: 0px 10px;
}

.my-input-field {
  position: relative;
  padding: 0px 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-input-field label {
  transform: translateY(-14px);
  top: 0;
  position: absolute;
  cursor: text;
}

pre {
  display: inline;
  white-space: pre-wrap;
  font-family: inherit;
}

/* DIV */

.container-hotel-info {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

.delete-confirm-container,
.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 10000;
}

.delete-confirm {
  text-align: center;
  background-color: white;
  width: 35%;
  min-width: 400px;
  padding: 30px 40px;
  border-radius: 10px;
}

.delete-confirm-hotelError {
  text-align: center;
  background-color: white;
  width: 600px;
  padding: 40px 15px;
  border-radius: 10px;
}

/* BUTTONS */

.common-button,
.login-register-partner-button {
  background-color: var(--button-orange-focus-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.common-button {
  margin: 10px;
}

.login-register-partner-button {
  margin: 0;
}

.common-button:focus,
.login-register-partner-button:focus {
  background-color: var(--button-orange-focus-color);
}

.common-button:hover,
.login-register-partner-button:hover {
  background-color: var(--orange-color);
}

#button-padding {
  padding: 0px 40px;
}

.buttons-right {
  float: right;
  margin-right: 40px;
  background-color: var(--button-orange-focus-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.buttons-right:focus {
  background-color: var(--button-orange-focus-color);
}

.buttons-right:hover {
  background-color: var(--orange-color);
}

.buttons-right-delete {
  float: right;
  margin-right: 40px;
  background-color: var(--button-red-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.buttons-right-delete:focus {
  background-color: var(--button-red-color);
}

.buttons-right-delete:hover {
  background-color: var(--button-red-hover-color);
}

.button-delete-confirm {
  margin: 10px;
  background-color: var(--button-red-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-decline {
  float: right;
  margin-right: 10px;
  background-color: var(--button-red-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-decline:focus {
  background-color: var(--button-red-color);
}

.button-decline:hover,
.button-delete-confirm:hover {
  background-color: var(--button-red-hover-color);
}

.button-cancel-confirm {
  margin: 10px;
  background-color: var(--button-blue-color);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.button-cancel-confirm:hover {
  background-color: var(--button-blue-hover-color);
}

.button-my-reservation {
  background-color: var(--button-red-color);
  color: white;
  border: none;
  padding: 8px 20px;
  margin: 10px;
}

.body-td_edit-button {
  background-color: var(--button-orange-focus-color);
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  color: white;
}

.body-td_edit-button:hover {
  background-color: var(--orange-color);
}

.body-td_delete-button {
  background-color: var(--button-red-color);
  border: none;
  padding: 8px 15px;
  cursor: pointer;
  color: white;
}

.body-td_delete-button:hover {
  background-color: var(--button-red-hover-color);
}

.body-td_delete-button:focus {
  background-color: var(--button-red-hover-color);
}

/* FOOTER */

.footer {
  margin-top: 100px;
  background-color: #ebebeb;
  padding: 1rem 0;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-section {
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.footer-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-link {
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: color 0.3s;
}

.footer-link:hover {
  color: #0004ff;
}
