@import "variables.css";

/* nav */
.nav-wrapper {
  width: 100vw;
  height: 85px;
  background-color: var(--orange-color);
  min-width: 1260px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}

/* div */
.hotelscom-logo {
  font-size: 30px;
  cursor: pointer;
}

/* form */
.search-hotel {
  width: 30%;
  border: none;
  padding: 10px 0px;
}

/* input */
#search {
  background-color: white;
  border-radius: 50px;
  padding: 0px 30px 0px 40px;
}

/* i */
.material-icons {
  transform: translateY(-5px) translateX(10px);
}

/* i */
.search-icon {
  color: black;
  transform: translateY(-55px) translateX(10px);
}

/* a */
.button-publish {
  padding: 0px 30px;
}

/* a */
.dropdown-trigger {
  position: relative;
  font-size: 15px;
  padding: 0 15px 0 55px;
}

/* ul */
.dropdown-content {
  border-radius: 5px;
  position: absolute;
}

/* li */
.dropdown-content li {
  background-color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* a */
.dropdown-content li a {
  font-size: 15px;
  width: 100%;
  color: #333;
  margin-left: 15px;
  padding-left: 0;
}

.dropdown-content li a:hover {
  background-color: transparent;
}

.dropdown-content li .dropdown-icon {
  font-size: 20px;
  margin-left: 15px;
}

/* button */
.nav-buttons {
  background-color: rgb(255, 255, 255);
  color: var(--orange-color);
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.nav-buttons:hover {
  background-color: #f1e9e7;
}

/* button */
.delete-nav-button {
  background-color: var(--button-red-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.delete-nav-button:focus {
  background-color: var(--button-red-color);
}

.delete-nav-button:hover {
  background-color: var(--button-red-hover-color);
}
