@import "variables.css";

/* HOME */

.hotel-not-found {
  font-size: 50px;
  margin-left: -250px;
  text-align: center;
}

.no-reservations,
.no-comments {
  text-align: center;
}

.container-home-cards {
  padding: 0px 265px 0px 250px;
}

#img {
  width: 400px;
  height: 265px;
  object-fit: cover;
}

.button-view {
  position: absolute;
  bottom: 12px;
  right: 20px;
  background-color: var(--button-orange-focus-color);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 30px;
  margin: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.button-view:hover {
  background-color: var(--orange-color);
}

/* HOTEL */

.container-hotel-cards {
  padding: 0px 165px 0px 150px;
}

.container-button-comment {
  text-align: center;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients-reviews-h5 {
  margin: 0;
}

.container-slider {
  color: rgb(0, 0, 0);
  margin: 20px 0px;
}

.slick-arrow {
  border-radius: 50%;
}

.slick-slide > div {
  margin: 0 10px;
}

.container-no-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-reviews {
  text-align: center;
  padding: 20px 100px;
  display: inline-block;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

/* Hotel Images */
.images-gallery {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 53% repeat(2, 23.5%);
  grid-template-rows: repeat(2, 245px);
}

.principal {
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 1;
  margin: 10px;
}

.principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: rgb(255, 255, 255);
  border-radius: 8px 0px 0px 8px;
}

#container-image {
  margin: 10px;
}

#container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-3 {
  border-radius: 0 8px 0 0;
}

.img-5 {
  border-radius: 0 0 8px 0;
}

/* RESERVATIONS */

.my-reservations_container {
  margin: 20px;
  border: 1px solid rgb(230, 230, 230);
  border-bottom: none;
}

.my-reservations_table {
  border-collapse: collapse;
  width: 100%;
}

.head-tr {
  background-color: rgb(235, 235, 235);
}

.head-th {
  padding: 15px 8px;
  text-align: left;
}

.body-tr {
  background-color: rgb(255, 255, 255);
}

.body-td {
  padding: 30px 8px;
}

/* PARTNERS*/

.hotel-and-who-reserved {
  display: flex;
  justify-content: start;
  align-items: center;
}

.phone {
  display: inline-block;
}

/* ELEMENT */

.container-select-who-reserved-card {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

/* WHO-RESERVED */

.who-reserved-card_container-data h6 {
  font-size: 20px;
  font-weight: bold;
}

.container-who-reserved-card {
  display: flex;
  justify-content: start;
  margin: 20px;
}

/* REGISTER AND UPDATE HOTEL */

.container-sections-create-and-update-hotel {
  display: flex;
  justify-content: center;
}

.first-section-create-and-update-hotel {
  background-color: rgba(255, 255, 255, 0.685);
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 0px 20px;
  border-radius: 5px;
}

.second-section-create-and-update-hotel {
  background-color: rgba(255, 255, 255, 0.685);
  width: 70%;
  padding: 20px;
  margin: 0px 20px;
  border-radius: 5px;
}

.principal {
  position: relative;
}

#container-image {
  position: relative;
}

#principalImg,
#moreImages {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

/* CREATE AND UPDATE RESERVATIONS */

#create-description {
  height: 200px;
}

#create-services {
  height: 160px;
}

/* COMMENTS */

.container-my-comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.my-comment_id {
  float: right;
}

.my-comment_hotel {
  font-weight: bold;
}

.my-comment_content {
  font-size: 18px;
}

.container-my-comment_edit-delete {
  position: absolute;
  bottom: 10px;
  right: 0;
  margin: 10px 0px;
}
