/* HOME */

.hotel-not-found {
  font-size: 50px;
  margin-left: -250px;
  text-align: center;
}

.no-reservations,
.no-comments {
  text-align: center;
}

.container-home-cards {
  padding: 0px 265px 0px 250px;
}

#img {
  width: 400px;
  height: 265px;
  object-fit: cover;
}

.btn-floating {
  margin-bottom: 40px;
  border-radius: 10px;
  padding-left: 33px;
  width: 100px;
  background-color: #ff8a65;
}

.btn-floating:hover {
  background-color: #ff7044;
}

/* HOTEL */

.container-button-comment {
  text-align: center;
  margin: 10px;
}

/* Hotel Images */
.images-galery {
  margin: 20px 85px;
  display: grid;
  grid-template-columns: 53% repeat(2, 23.5%);
  grid-template-rows: repeat(2, 245px);
}

.principal {
  grid-column-start: 1;
  grid-row-end: 3;
  grid-row-start: 1;
  margin: 10px;
}

.principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: white;
  border-radius: 8px 0px 0px 8px;
}

#container-image {
  margin: 10px;
}

#container-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-3 {
  border-radius: 0 8px 0 0;
}

.img-5 {
  border-radius: 0 0 8px 0;
}

/* PARTNERS*/

.hotel-and-who-reserved {
  display: flex;
  justify-content: start;
  align-items: center;
}

.phone {
  display: inline-block;
}

/* ELEMENT */

.container-select-who-reserved-card {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

/* WHO-RESERVED */

.who-reserved-card_container-data h6 {
  font-size: 20px;
  font-weight: bold;
}

.container-who-reserved-card {
  display: flex;
  justify-content: start;
  margin: 20px;
}

/* IMAGES OF REGISTER AND UPDATE HOTEL */

.container-file-select {
  position: relative;
  background-color: rgb(214, 214, 214);
}

.container-file-select::before {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container-file-select input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: "Select Principal File";
}

#src-file2::before {
  content: "Select Others Files";
}

/* CREATE AND UPDATE RESERVATIONS */

#create-description,
#create-services {
  height: 110px;
}

/* COMMENTS */

.my-reviews-title {
  text-align: center;
}

.container-my-comments {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-comment_id {
  float: right;
}

.my-comment_hotel {
  font-weight: bold;
}

.my-comment_content {
  font-size: 18px;
}

.container-my-comment_edit-delete {
  margin: 10px 0px;
}
