:root {
  --orange-color: #ff8a65;
  --button-orange-focus-color: #fd7c54;
  --button-red-color: #d31717;
  --button-red-hover-color: #c21616;
  --button-blue-color: #1976d2;
  --button-blue-hover-color: #1664b3;
  --form-color: rgb(246, 246, 246);
}
