body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  min-width: 1260px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
}

/* hotel description */
pre {
  display: inline;
  white-space: pre-wrap;
  font-family: inherit;
}

/* ERRORS */

.container-errors {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 2px;
}

.error {
  padding: 5px;
}

.container-span {
  color: red;
}

/* PRINCIPAL */

.alfa {
  position: relative;
  width: 100vw;
}

.title {
  margin: 20px;
}

.hotel-not-found {
  font-size: 50px;
  margin-left: -250px;
  text-align: center;
}

.no-reservations,
.no-comments {
  text-align: center;
}

.row {
  margin: 20px 0px 20px 250px;
}

.card {
  display: flex;
  cursor: pointer;
  margin: 20px 0px;
  color: black;
}

.card-image {
  display: inline-block;
}

#img {
  width: 400px;
  height: 265px;
  object-fit: cover;
}

.btn-floating {
  margin-bottom: 40px;
  border-radius: 10px;
  padding-left: 33px;
  width: 100px;
  background-color: #ff8a65;
}

.btn-floating:hover {
  background-color: #ff7044;
}

/* HOTEL */

.images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 10px 100px;
}

#image {
  width: 380px;
  height: 235px;
  padding: 5px;
}

#image img {
  width: 380px;
  height: 235px;
  margin: -5px;
}

.container-image-2 {
  margin: 10px 15px 20px 15px;
}

.container-image-3 {
  margin: 15px;
}

.container-image-4 {
  margin: 10px 15px 20px 15px;
  border-radius: 20px;
}

.container-image-5 {
  margin: 15px;
}

.img-4 {
  border-radius: 0 8px 0 0;
}

.img-5 {
  border-radius: 0 0 8px 0;
}

.principal img {
  object-fit: cover;
  width: 915px;
  height: 490px;
  margin: 10px;
  color: white;
  border-radius: 8px 0px 0px 8px;
}

.container-input .label {
  text-align: start;
}

.container-button-reserve,
.container-button-comment {
  text-align: center;
  margin: 10px;
}

#card-selected,
#card-reservations,
#card-partners {
  width: 60%;
}

#card-selected {
  width: 47%;
}

#card-reservations,
#card-comments {
  margin: 15px 15px;
}

#card-partners {
  margin: 20px 20px;
}

#card-comments {
  min-width: 550px;
  max-width: 660px;
}

.container-hotel-info {
  display: flex;
  justify-content: center;
  align-items: start;
}

#reserve {
  padding: 0px 40px;
}

.row-inputs {
  margin: 0;
}

.input-field {
  border: none;
  padding: 0px 10px;
}

.user {
  border-bottom: 2px solid #4db6ac;
  height: 50px;
  margin-left: 30px;
  margin-right: 20px;
  cursor: default;
  font-size: 20px;
}

.user:hover {
  background-color: #ff8a65;
}

#title-reservation,
#title-comment {
  display: inline-block;
}

.delete,
.delete-hotel {
  float: right;
}

.delete {
  margin-right: 20px;
}

.delete-hotel {
  margin-right: 30px;
}

.delete-confirm-container,
.comment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  z-index: 10000;
}

.delete-confirm {
  text-align: center;
  background-color: white;
  width: 350px;
  padding: 40px 0;
  border-radius: 10px;
}

.delete-confirm-hotelError {
  text-align: center;
  background-color: white;
  width: 600px;
  padding: 40px 15px;
  border-radius: 10px;
}

.button-delete-confirm {
  margin: 10px;
}

.button-decline {
  float: right;
  margin-right: 20px;
  padding: 0 20px;
}

.card .card-content {
  padding: 20px 30px;
}

.card-content {
  width: 100%;
}

.hotel-and-who-reserved {
  display: flex;
  justify-content: start;
  align-items: center;
}

.container-who-reserved {
  padding: 20px;
  margin: 10px;
  text-align: center;
}

#who-reserved {
  margin-left: 50px;
}

.card-who-reserved {
  display: flex;
}

.reservations {
  float: right;
  margin-right: 20px;
}

.phone {
  display: inline-block;
}

.component-who-reserved {
  padding: 20px;
  margin: 10px;
  width: 400px;
  background-color: rgb(255, 255, 255);
}

.container-data h6 {
  font-size: 20px;
  font-weight: bold;
}

.container-components {
  display: flex;
  justify-content: start;
  margin: 20px;
}

.file-select {
  position: relative;
}

.file-select::before {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  content: "Select";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: "Select Principal File";
}

#src-file2::before {
  content: "Select Others Files";
}

.type-file {
  margin: 10px 0px;
}

.p-update-reservation {
  margin: 0px 0px 10px 0px;
}

#create-description {
  height: 110px;
}

#create-services {
  height: 110px;
}

.my-input-field {
  position: relative;
  padding: 0px 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-input-field label {
  transform: translateY(-14px);
  top: 0;
  position: absolute;
  cursor: text;
}

/* MY REVIEWS */

.my-reviews-title {
  text-align: center;
}

.container-my-comments {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-comment_id {
  float: right;
}

.my-comment_hotel {
  font-weight: bold;
}

.my-comment_content {
  font-size: 18px;
}

.container-my-comment_edit-delete {
  margin: 10px 0px;
}
